.error {
  text-align: center;
  border-color: rgb(255, 0, 0);
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border-style: double;
  background-color: rgba(0, 0, 0, 0.774);
}

.text {
  color: aliceblue;
}

.number {
  color: red;
  font-size: 100px;
}
