.reference {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; /* Valor alto para asegurar que esté en la parte superior */
  cursor: pointer;
  width: 60px;
  height: 40px;
}

.image {
  width: 60px;
  height: 40px;
}
