.container {
  text-align: center;
}

.button {
  margin-top: 10px;
  text-align: center;
}

.map-container {
  height: 40vmax;
  width: 85vmax;
  margin: 40px;
  background-size: 100% 100%;
  background-image: url(../../resources/marco.png);
}

.map-container-reor {
  height: 40vmax;
  width: 72vmax;
  margin: 40px;
  background-size: 100% 100%;
  background-image: url(../../resources/marco.png);
}

.image {
  width: 60px;
  height: 40px;
}

.reference {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; /* Valor alto para asegurar que esté en la parte superior */
  cursor: pointer;
  width: 60px;
  height: 40px;
}
