body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pf-v5-c-page {
  background-image: url(./resources/background.png);
  background-size: cover;
  .pf-v5-c-masthead {
    --pf-v5-c-masthead--BackgroundColor: #22a06b;
  }
}

.pf-v5-c-page__main-section.view-cultivation-area {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.framework-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 750px;
  margin: 40px;
  background-size: 100% 100%;
  background-image: url(../../frontend/src/resources/marco.png);
}

.pf-v5-c-switch {
  padding: 20px !important;
}
